.button .icon{
    color:#fff;
}
.btn:hover .icon{
    color:#000;
    background: #fff;
}
.button:hover .icon{
    color:#000;
    background: #fff;
}

.borderRadius{
    border:1px solid #fff;
    border-radius: 50px;
}

.bg1{
    background-image: url('../../images/index-1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    top:0;
    bottom:0;
    width: 100%;
    z-index: -1;
}
.pickBox{
    width: 100%;
    height: 200px;
}
.pickUp{
    margin-top: -120px;
    border-radius: 25px 0 0 0;
}
.nbMargin{
    margin-top: -180px;
}

.wrapper1 .button1{
    height: 20px;
    width: 20px;
    white-space:nowrap;
    background:$secondary;
    border-radius: 50px;
    transition: all 0.3s ease-out;
}
.wrapper1 .button1:hover{
    width: 120px;
    background: #000;
}
.wrapper1 .button1 a{
    color:#000;
}
.wrapper1 .button1:hover a{
    color:#fff;
}

// pick up 圖片hover效果
.swiperHover:hover {
    background: $gray-100;
    border-radius:8px 8px 0 0;
    & img{
        opacity: 0.7;
    }
}

// 優點
.bg2{
    background-image: url(../../images/ricardo-inonan-HxP_EXMUPy8-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:0 8px 0 0;
}
.bg3{
    background-image: url(../../images/ritual-visuals-OTACF5mlFxA-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: -50%;
}
.bg4{
    background-image: url(../../images/zhang-kaiyv-rMOo6xRRD60-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: -50%;
}
.meritHover:hover {
    div{
        backdrop-filter: blur(5px);
    }
    i{
        color:#000;
        background-color: #fff;
    }
}