// 其他分頁的icon
.borderRadiusIn{
    border:1px solid #000000;
    border-radius: 50px;
}
.buttonIn .icon{
    color:#000;
}
.btnIn:hover .icon{
    color:#fff;
    background: #000;
}
.buttonIn:hover .icon{
    color:#fff;
    background: #000;
}

// 物學案 就職 對象
.magnifyText {
    transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.magnifyText:hover {
    transform: scale(1.25);
}

.magnifyText:active {
    transform: scale(.8);
}