html{
    overflow-x: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Microsoft JhengHei”, Roboto, “Helvetica Neue”, Arial, sans-serif;
    line-height:1.5;
    box-sizing: border-box;
    margin: 0 auto;
    overflow-x: hidden;
    }
    body::-webkit-scrollbar {
        display: none;
    }
h1, h2, h3, h4, h5, h6{
    line-height:1.2;
    margin-bottom: 0px;
    }
    
img{
    display:block;
    max-width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
}
.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}

[data-aos] {
    visibility: hidden;
}

[data-aos].animate__animated {
    visibility: visible;
}
/* This changes all the animations globaly */
:root {
--animate-duration: 1800ms;
--animation-delay: 2.9s;
}
.h100vh{
    height: 100vh;
}
.text-gray{
    color:#111;
}
.w166{
    width: 166px;
    height: 102px;
}