.productHeader {
    height: 597px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cardShadow{
    box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.2);
}
.borderRadiusLeft{
    border-radius:4px 0 0 4px;
}
.borderRadiusRight{
    border-radius:0px 4px 4px 0px;
}
.hoverShadow:hover{
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
}